.body_one{
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    background-size: cover;
}
.body_two{
    background-color: #ffffff;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 500px;
}
h3{
    font-family: Roboto;
    color: #323f4b;
}
p button{
    font-family: Roboto;
    color: #7b8794;
}
.btn_button{
    font-family: Roboto;
    background-color: #323f4b;
    border-radius: 10px;
    color: #ffffff;
} 
.btn_button1{
    background-color: #5752ab;
    color: #ffffff;
    border-color: #d7dfe9;
    border-radius: 10px;
}