.bg-container{
    background-image: url("https://free4kwallpapers.com/uploads/originals/2015/08/25/lion-wallpaper-hd.jpg");
    background-size: cover;
}
.child-container{
    background-color: rgba(87, 82, 82, 0.466);
    padding: 10px;
    margin: 20px;
}
.image{
    height: 200px;
    width: 200px;
}
.bot{
  float: right;
  margin-top: 5px;
}
.m{
    margin: 10px;
}